* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    min-height: 100vh;
    color: #037519;
    font-family: 'Paytone One', sans-serif;
    font-size: 20px;
    line-height: 1.75em;
    overflow-y: hidden;
    background-image: url("../imgs/computer_chip/Printed\ Circuit\ Board.svg");
    background-size: cover;
}

.img-maze {
    max-width: 100%;
    max-height: 95vh;
    cursor: url(../imgs/cursor.svg) 10 15, crosshair;
    visibility: hidden;
}

.container {
    max-width: 1440px;
    margin: auto;
}

.wrapper {
    padding: 20px 20px;
}

.grid-parent {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

h1 {
    font-family: 'Monoton', cursive;
    font-size: 50px;
}

.questionMark {
    fill: #FFFFFF;
    font-size: 62.44px;
}

.maze {
    fill: #037519;
}

.door {
    fill: #FF0000;
}

.circle {
    position: absolute;
    stroke-miterlimit: 10;
    background-color: #FF0000;
    border-radius: 20px;
}

.black-background {
    background-color: black;
}

.letter {
    font-size: 70px;
    color: #FF0000;
    text-align: center;
}

.game-over {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0px;
    height: 100vh;
    width: 100%;
    background-color: black;
    z-index: 10;
    text-align: center;
    visibility: hidden;
}

.button {
    padding: 15px 30px;
    display: inline-block;
    color: black;
    background-color: #037519;
    align-items: center;
    justify-content: start;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

.button:hover {
    background-color: #006602;
}

a {
    color: #037519;
}

a:hover {
    color: #006602;
}

.sources {
    position: absolute;
    bottom: 0;
    font-size: 15px;
    line-height: 1.25em;
}

@media screen and (max-height: 900px) {
    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 30px;
    }

    h3 {
        font-size: 22px;
    }

    p {
        font-size: 16px;
    }

    .sources {
        font-size: 14px;
    }

}

@media screen and (max-height: 750px) {
    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 25px;
    }

    h3 {
        font-size: 20px;
    }

    p {
        font-size: 14px;
    }

    .sources {
        font-size: 12px;
    }
}